<!DOCTYPE html>
<html>
    {{#each styleSheets}}
        <link rel="stylesheet" href="{{path}}"/>
    {{/each}}
<head>
    
</head>
    <body>
        <AxisX />
        <AxisY />

    {{#each bottomScripts}}
        <script type="text/javascript" {{this.async}} src="{{{this.src}}}"></script>
    {{/each}}
    </body>
</html>